@import '~/assets/css/variables.css';


/* ------ General ------ */
html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  margin: 0px;
}

.full-height {
  height: 100vh;
}
.pointer {
  cursor: pointer;
}


/*
  IMPORTANT: VueJS limitation to make css variables reactive
  More info.: https://github.com/vuejs/vue/issues/7346
*/
